includes:
  - phpstan-baseline.neon
parameters:
    level: max
    paths:
        - Classes
        - Tests
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue
        - '#^Variable \$_EXTKEY might not be defined\.$#'
