parameters:
	ignoreErrors:
		-
			message: "#^Class TYPO3\\\\CMS\\\\Core\\\\DataHandling\\\\DataHandler constructor invoked with 0 parameters, 14 required\\.$#"
			count: 1
			path: Tests/Functional/Typo3FeaturesTest.php
