parameters:
    level: max
    paths:
        - Classes
        - Tests
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        - '#Cannot call method fetch\(\) on Doctrine\\DBAL\\Driver\\Statement\|int\.#'
        - '#Cannot call method fetchAll\(\) on Doctrine\\DBAL\\Driver\\Statement\|int\.#'
        - '#Cannot call method fetchColumn\(\) on Doctrine\\DBAL\\Driver\\Statement\|int\.#'
